/*--------------------------------------------------------------
# Global Settings
--------------------------------------------------------------*/

@font-face {
    font-family: 'Agustina';
    src: url('../fonts/Agustina.woff') format('woff');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Medium.ttf') format('truetype');
}

/* Global Variables */
:root {
    --font-family: 'Rubik', sans-serif;
    --primary-color: #415de6;
    --secondary-color: #e64157;
    --tertiary-color: #12c2e9;
    --primary-gradient-color: linear-gradient(90deg, #e64157, #415de6);
    --secondary-gradient-color: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
    --underline-gradient: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    --vertical-gradient: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
    --transition-default: all 0.4s ease;
}

body {
    font-family: var(--font-family);
    font-weight: 300;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

/* Dark Mode */
[data-bs-theme="dark"] {
    position: relative;
    color: rgb(255, 255, 255/1);
    z-index: 0;
}

[data-bs-theme="dark"]::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000 url(../images/BGblack.jpg) 50% no-repeat;
    background-size: cover;
    filter: brightness(50%);
    z-index: -1;
}

/* Dark Mode styles */
[data-bs-theme="dark"] {
    --text-color: #fff;
    --muted-text: #9a9a9a;
    --bg-color: #212121;
    --btn-color: #fff;
    --offcanvas-bg: rgba(0,0,0,0.9);
    --offcanvas-border-color: rgba(255, 255, 255, 0.2);
}

/* Light Mode */
[data-bs-theme="light"] {
    position: relative;
    color: rgb(255, 255, 255/1);
    z-index: 0;
}

[data-bs-theme="light"]::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(../images/light-bg.webp) 50% no-repeat;
    background-size: cover;
    filter: brightness(90%);
    z-index: -1;
}

/* Light Mode styles */
[data-bs-theme="light"] {
    --text-color: #000;
    --muted-text: #000;
    --bg-color: #fff;
    --btn-color: #fff;
    --offcanvas-bg: rgba(215, 215, 215, 0.9);
    --offcanvas-border-color: rgba(255, 255, 255, 0.2);
}

*::selection {
    color: var(--primary-color);
}

::-webkit-scrollbar {
    width: 5px;
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--vertical-gradient);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
}
/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
.logo-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    transition: all 0.4s ease;
    display: inline-block; /* supaya animasi scaling jalan rapi */
}

.logo-name:hover {
    color: var(--primary-color);
    text-shadow:
        0 0 5px var(--primary-color),
        0 0 10px var(--primary-color),
        0 0 15px var(--primary-color);
    transform: scale(1.05); /* smooth zoom kecil */
}

#header {
    background: transparent;
    transition: top 0.5s ease;
}

.fixed-top {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

@media (max-width: 767px) {
    #switchTheme {
        display: flex;
        justify-content: end;
        flex-grow: 1;
    }
}

#header .navbar {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 15px 0;
}

.navbar .toggle-icon {
    color: var(--text-color);
    font-size: 28px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas {
    background-color: var(--offcanvas-bg);
}

.offcanvas.show ul {
    position: absolute;
    justify-content: flex-start!important;
    top: 76.9px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    padding: 10px 15px;
    transition: none;
    border: 2px solid var(--offcanvas-border-color);
}

.fixedHeaderNavbar {
    position: fixed;
    height: 100vh;
}

.navbar-nav > li > .nav-link {
    position: relative;
    font-size: 15px;
    border-bottom: none;
    transition: width 0.35s ease;
}

.navbar-nav > li > .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: var(--underline-gradient);
}

.navbar-nav > li > .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-image: var(--underline-gradient);
    transition: width 0.35s ease;
}

.navbar-nav > li > .nav-link:hover::after {
    width: 100%;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    position: relative;
    padding: 160px 0px 50px 0px;
    min-height: 100vh;
}

#hero .name {
    background: var(--primary-gradient-color);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#hero .btn-showcase {
    border-radius: 32px;
    border-color: #7042f88b;
    border-width: 1px;
    backdrop-filter: blur(6px);
    box-shadow: inset 0 -7px 11px rgba(141, 53, 229, 0.136);
    transition: box-shadow 0.45s cubic-bezier(.6,.6,0,1);
}

#hero .btn-showcase i {
    font-size: 13px;
}

#hero .btn-showcase:hover {
    box-shadow: inset 0 -7px 11px rgba(141, 53, 229, 0.536);
}

#hero .badge-button {
    margin-bottom: 15px;
}

#hero .tagline {
    letter-spacing: 1.5px;
    color: var(--muted-text);
}

/* Ini bagian foto hero */
.hero-portrait .pic {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 45vw;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(../images/Almetnobg.png);
}

/* Responsif untuk HP */
@media (max-width: 576px) {
    #hero {
        padding: 35px 0px 0px 0px;
    }

    .hero-portrait {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 170px;
        height: 170px;
        max-height: 170px;
        margin: 0 auto;
        border: solid 3px transparent;
        border-radius: 50%;
        background-image: var(--primary-gradient-color), radial-gradient(circle at top left, var(--primary-color), var(--secondary-color));
        background-origin: border-box;
        background-clip: content-box, border-box;
    }

    .hero-portrait .pic {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/Almetnobg.png);
    }

    .hero-content {
        margin-top: 35px;
    }

    #hero .btn-showcase {
        font-size: 12px;
    }

    #hero .tagline {
        font-size: 14px;
        letter-spacing: 1.2px;
    }

    #hero .social-icons a {
        font-size: 14px;
        padding: 0px 5px 0px 5px;
    }

    #hero .call-to-action {
        margin-top: 0px;
    }
}
/*--------------------------------------------------------------
# Core Value Section
--------------------------------------------------------------*/
#core-values {
    background: transparent;
    padding: 80px 0;
}

.value-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--text-color);
}

.value-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.value-card .icon {
    font-size: 40px;
}

.large-card {
    padding: 40px 30px;
}

.large-card h5 {
    font-size: 1.8rem;
}

.large-card p {
    font-size: 1rem;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about {
    padding: 100px 0px;
    background-image: url(../images/grid.png);
    background-size: contain;
    min-height: 100vh;
}

.about-portrait {
    display: flex;
    padding: 30px 0px 30px 0px;
    justify-content: center;
    align-items: center;
}

.about-portrait::before {
    content: "";
    background-color: transparent;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: -2;
    box-shadow: 2px 2px 0px inset var(--primary-color), -2px -2px 0px inset transparent;
    transition-duration: 0.5s;
}

.about-portrait:hover::before {
    transform: translate(-23px, -23px);
    transition-duration: 0.5s;
}

.about-portrait::after {
    content: "";
    background-color: transparent;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: -2;
    box-shadow: 2px 2px 0px inset transparent, -2px -2px 0px inset var(--primary-color);
    transition-duration: 0.5s;
}

.about-portrait:hover::after {
    transform: translate(35px, 30px);
    transition-duration: 0.5s;
}

.about-portrait .pic {
    width: 70%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 12px 8px 0px 0px #850dd5;
}

#about .bio {
    padding: 30px 0 30px 0;
    color: var(--muted-text);
    font-size: 15px;
    word-spacing: 5px;
}

/* Responsive untuk HP */
@media (max-width: 576px) {
    .about-portrait {
        display: flex;
        padding: 30px 36px 30px 36px;
    }
    .about-portrait .pic {
        width: 90%;
    }
    #about .bio {
        font-size: 14px;
        padding: 30px 15px 30px 15px;
    }
}
/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/

#skills {
    padding: 100px 0px;
    min-height: 100vh;
}

.skill {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    padding: 18px 0px;
    border-radius: 25px;
    backdrop-filter: blur(300px);
    box-shadow: 0 0 1px 0 rgba(144,81,227,0.5), 0 0 0.5px 0.5px rgba(141,53,229,0.336);
}

.skill-image {
    width: 71px;
    padding: 8px;
}

.skill-name {
    letter-spacing: 2px;
    font-size: 17px;
    padding-top: 5px;
    margin: 0;
}
/*--------------------------------------------------------------
# Tools Section
--------------------------------------------------------------*/

#tools {
    padding: 100px 0px 80px 0px;
    background-image: url(../images/grid.png);
    background-size: contain;
    min-height: 100vh;
}

.tool {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    padding: 18px 0px;
    border-radius: 25px;
    backdrop-filter: blur(300px);
    box-shadow: 0 0 1px 0 rgba(144,81,227,0.5), 0 0 0.5px 0.5px rgba(141,53,229,0.336);
}

.tool-image {
    width: 71px;
    padding: 8px;
}

.tool-name {
    letter-spacing: 2px;
    font-size: 17px;
    padding-top: 5px;
    margin: 0;
}
/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/

#projects {
    padding: 100px 0px 80px 0px;
    min-height: 100vh;
    background-image: url(../images/grid.png);
    background-size: contain;
}

.project-card {
    background-color: transparent;
    padding: 10px;
    border-radius: 24px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 1px 0 rgba(144,81,227,0.5), 0 0 0.5px 0.5px rgba(141,53,229,0.336);
}

.project-card .title {
    position: relative;
    font-size: 18px;
    text-decoration: none;
}

.project-card .title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-image: var(--underline-gradient);
    transition: width 0.35s ease;
}

.project-card .title:hover::after {
    width: 100%;
}

.project-card .tagline,
.project-card .stacks,
.project-card .description {
    font-size: 11px;
    color: var(--muted-text);
}

.project-card .in-progress {
    font-size: 11px;
    border-radius: 32px;
}

.project-card .icon {
    max-width: 70%;
}

.project-card .description-container {
    padding-left: inherit;
}

.project-card .description {
    font-size: 14px;
}

.project-card .banner-container {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.project-card .banner {
    border-radius: inherit;
}

.project-card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    border-radius: inherit;
    transition: opacity 0.3s ease;
}

.project-card .banner-container:hover .overlay {
    opacity: 0.9;
/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/

#testimonials {
    padding: 100px 0px;
    min-height: 100vh;
    background-image: url(../images/grid.png);
    background-size: contain;
}

.testimonial {
    margin: 0 15px;
}

.testimonial .description {
    position: relative;
    font-size: 13px;
    line-height: 26px;
    padding: 30px 20px;
    border: 1px solid rgba(144, 81, 227, 0.5);
    border-left: 3px solid rgba(144, 81, 227, 0.8);
    backdrop-filter: blur(20px);
}

/* Notch Icon di bawah Card Testimoni */
.testimonial .description::after {
    position: absolute;
    bottom: -11px;
    left: 65px;
    content: "";
    width: 20px;
    height: 20px;
    background: rgba(144, 81, 227, 0.8);
    border-bottom: 1px solid rgba(144, 81, 227, 0.5);
    border-left: 1px solid rgba(144, 81, 227, 0.5);
    transform: skewY(-45deg);
}

.testimonial .pic {
    display: inline-block;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin: 20px 30px 10px;
    border: solid 3px transparent;
    border-radius: 50%;
    background-image: var(--primary-gradient-color), radial-gradient(circle at top left, var(--primary-color), var(--secondary-color));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.testimonial .pic img {
    width: 100%;
    height: auto;
}

.testimonial .detail {
    margin: 0 30px;
}

.testimonial .detail .name {
    color: var(--primary-color);
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.testimonial .detail .role {
    font-size: 14px;
    color: var(--muted-text);
}

/* Tombol navigasi carousel */
.owl-nav {
    display: flex;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 100%;
    justify-content: space-between;
}

.owl-prev span,
.owl-next span {
    font-size: 25px;
}
/*--------------------------------------------------------------
# Blogs Section
--------------------------------------------------------------*/

#blogs {
    padding: 100px 0px;
    min-height: 100vh;
    background-image: url(../images/grid.png);
    background-size: contain;
}

.article-card {
    background-color: transparent;
    padding: 10px;
    border-radius: 24px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 1px 0 rgba(144, 81, 227, 0.5), 0 0 0.5px 0.5px rgba(141, 53, 229, 0.336);
}

.article-card .banner-container {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.article-card .badge {
    margin: 10px 10px 0px 0px;
    font-size: 10px;
    background: var(--primary-gradient-color);
}

.article-card .banner {
    border-radius: inherit;
}

.article-card .card-title {
    position: relative;
    font-size: 20px;
    font-weight: 900;
}

.article-card .card-text {
    font-size: 14px;
    color: var(--muted-text);
}

.article-card .read-more {
    position: relative;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 14px;
}

.article-card .read-more::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-image: var(--underline-gradient);
    transition: width 0.35s ease;
}

.article-card .read-more:hover::after {
    width: 80%;
}
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

#contact {
    padding: 100px 0;
    min-height: 100vh;
    background-image: url(../images/grid.png);
    background-size: contain;
}

.contact-form {
    padding: 35px;
    border-radius: 15px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 1px 0 rgba(144, 81, 227, 0.5), 0 0 0.5px 0.5px rgba(141, 53, 229, 0.336);
}

.contact-form .form-control {
    padding: 0.775rem 1.05rem;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

.contact-form .form-control:focus {
    box-shadow: none;
    border-color: #850dd5;
}

.contact-form .btn {
    background-color: #850dd5;
}
/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

#footer > .container {
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#footer .copyright-text {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: var(--muted-text);
}

.copyright-text span {
    color: var(--text-color);
}

.copyright-text .heart-icon {
    background: var(--primary-gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

/*--------- Back To Top Button ------------*/

#backToTopButton {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 0px;
    z-index: 999;
    transition: var(--transition-default);
}

#backToTopButton:hover {
    color: var(--primary-color);
    transform: translate(0, -0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
